#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

#define BTLD bootloader

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            display-name = "Base";
            bindings = <
                &kp EQUAL &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp ESC                       &kp ESC   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
                &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp ESC   &kp ESC   &kp ESC   &kp ESC   &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH
                &kp ESC   &kp A     &kp S     &kp D     &kp F     &kp G     &kp ESC   &kp LALT  &kp RWIN  &kp ESC   &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                &kp CAPS  &kp Z     &kp X     &kp C     &kp V     &kp B     &kp LCTRL &kp HOME  &kp PG_UP &kp RCTRL &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &kp RSHFT
                &kp ESC   &kp GRAVE &kp NUBS  &kp LEFT  &kp RIGHT &kp BSPC  &kp DEL   &kp END   &kp PG_DN &kp ENTER &kp SPACE &kp UP    &kp DOWN  &kp LBKT  &kp RBKT  &kp ESC
            >;
        };

        tool_layer {
            display-name = "Tool";
            // bindings = <
            //     &kp EQUAL &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp ESC                       &kp ESC   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
            //     &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp ESC   &kp ESC   &kp ESC   &kp ESC   &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH
            //     &kp ESC   &kp A     &kp S     &kp D     &kp F     &kp G     &kp ESC   &kp LALT  &kp RWIN  &kp ESC   &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
            //     &kp CAPS  &kp Z     &kp X     &kp C     &kp V     &kp B     &kp LCTRL &kp HOME  &kp PG_UP &kp RCTRL &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &kp RSHFT
            //     &mo 1     &kp GRAVE &kp NUBS  &kp LEFT  &kp RIGHT &kp BSPC  &kp DEL   &kp END   &kp PG_DN &kp ENTER &kp SPACE &kp UP    &kp DOWN  &kp LBKT  &kp RBKT  &kp ESC
            // >;


            bindings = <
                &none     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none     &none                         &none     &none     &none     &none     &none     &none     &none
                &none     &none        &none        &none        &none        &none     &none     &BTLD     &BTLD     &none     &none     &none     &none     &none     &none     &none
                &none     &none        &none        &none        &none        &none     &none     &none     &none     &none     &none     &none     &none     &none     &none     &none
                &none     &none        &none        &none        &none        &none     &none     &none     &none     &none     &none     &none     &none     &none     &none     &none
                &trans    &none        &none        &none        &none        &none     &none     &none     &none     &none     &none     &none     &none     &none     &none     &trans
            >;
        };
    };
};